<ion-header>
    <ion-toolbar>
        <ion-title>Campi</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="listView">
                <ion-label>Lista</ion-label>
                <ion-icon name="list"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="imgView">
                <ion-label>Anteprima</ion-label>
                <ion-icon name="images"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
    

    <ion-fab horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button routerLink="/fields/new-field">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
