<ion-header>
    <ion-toolbar>
        <ion-buttons *ngIf="!isLoading" slot="start">
            <ion-back-button [routerLink]="['/', 'fields', field.id, 'field-info']"></ion-back-button>
        </ion-buttons>
        <ion-title>Modifica informazioni</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="onUpdateField()" type="submit">
                <ion-icon name="save" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form *ngIf="!isLoading" [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col offset-sm="3" size="12" size-sm="6">
                    <ion-item>
                        <ion-label position="floating">Nome</ion-label>
                        <ion-input [ngModel]="field.name" formControlName="name" value="{{field.name}}"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Posizione</ion-label>
                        <ion-input [ngModel]="defPosition" formControlName="position"
                                   value="{{defPosition}}"></ion-input>
                    </ion-item>

                    <ion-item lines="none">

                        <ion-button (click)="presentModal()">
                            <ion-icon name="map"></ion-icon>
                            Seleziona da Mappa
                        </ion-button>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Descrizione</ion-label>
                        <ion-input [ngModel]="field.description" formControlName="description"
                                   value="{{field.description}}"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Area (ettari)</ion-label>
                        <ion-input [ngModel]="field.area" formControlName="area" value="{{field.area}}"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Altitudine</ion-label>
                        <ion-input [ngModel]="field.elevation" formControlName="elevation"
                                   value="{{field.elevation}}"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Coltivazione</ion-label>
                        <ion-input [ngModel]="field.cultivation" formControlName="cultivation"
                                   value="{{field.cultivation}}"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Proprietario</ion-label>
                        <ion-input [ngModel]="field.owner" formControlName="owner" value="{{field.owner}}"></ion-input>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label>Immagine visualizzata</ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-img *ngIf="selectedLocationImage" [src]="selectedLocationImage"></ion-img>
                    </ion-item>


                </ion-col>
            </ion-row>
        </ion-grid>
    </form>


</ion-content>

