<ion-app>
    <ion-menu menuId="m1" side="start">
        <ion-header>
            <ion-toolbar>
                <ion-title>Start Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/fields">
                        <ion-icon name="leaf" slot="start"></ion-icon>
                        <ion-label>Campi</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/operations">
                        <ion-icon name="hammer" slot="start"></ion-icon>
                        <ion-label>Operazioni</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>

                </ion-menu-toggle>

            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
</ion-app>
