<ion-header>
    <ion-toolbar>
        <ion-title>Nuova Operazione</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="onCreateOperation()" type="submit">
                <ion-icon name="save" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col offset-sm="3" size="12" size-sm="6">
                    <ion-item>
                        <ion-label position="floating">Nome</ion-label>
                        <ion-input [ngModel]="defName" [value]="defName" formControlName="name"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Descrizione</ion-label>
                        <ion-input [ngModel]="defDescription" [value]="defDescription"
                                   formControlName="description"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Data</ion-label>
                        <ion-datetime displayFormat="YYYY/MM/DD" formControlName="date" max="2099-12-31"
                                      min="1970-01-01" pickerFormat="YYYY/MM/DD"></ion-datetime>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Operatore</ion-label>
                        <ion-input [ngModel]="defOperator" [value]="defOperator" formControlName="operator"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>
